<!-- ======= Header ======= -->
{% extends 'header.html' %}
<!-- End Sidebar-->
{% block title %}Data Table{% endblock %}
<body>
{% block content %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Data Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
          <li class="breadcrumb-item active">Data</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Datatables</h5>

              <!-- Table with stripped rows -->
              <table id="example" class="table table-striped" style="width:100%">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in table: %}
                  <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.state }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <script>
                $(document).ready(function () {
                    $('#example').DataTable();
                });
              </script>



              <!-- End Table with stripped rows -->


            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'footer.html' %}
<!-- End Footer -->
{% endblock %}
</body>

</html>